/* improt font  */
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');


/* color var */

:root{
    --primary:#FF6600;
    --heading-text:#0B1B35;
    --secend:#000000;
    --drak-light:#8A898E;
    --light:#ffffff;

}
/* common css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body{
    font-family: 'Arimo', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    max-width: 1170px;
}
.btn{
    font-size: 18px;
    text-decoration: none;
    background: var(--primary);
    padding: 10px 30px;
    border-radius: 10px;
    color: var(--light);
}
.flex{
display: flex;
align-items: center;
}



/* header area css  */
.header-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* top header area css  */

.top-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
}
.brand img{
    width: 240px;
    height: 49px;
}
.navigation ul{
    display: flex;
    align-items: center;
}
.navigation li{
    list-style: none;
    margin-right: 40px;
}
.navigation li a{
    font-size: 18px;
    font-weight: bold;
    color: var(--secend);
    text-decoration: none;
}
.logni-button .login{
    margin-right: 22px;
    font-size: 18px;
    font-weight: bold;
    color: var(--secend);
    text-decoration: none;
}

/* doun header area css */

/* header tex area css */
.doun-header{
    margin-top: 26px;
}
.header-text{
    max-width: 50%;
}
.header-text h1{
    font-size: 60px;
    font-weight: 850;
    line-height: 70px;
    color: var(--heading-text);
}
.header-text p{
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    max-width: 80%;
    color: var(--secend);
    margin-top: 20px;
    margin-bottom: 61px;
}
.learn-more img{
    width: 50px;
    height: 60px;
    margin-left: 28px;
    margin-right: 25px;
}
.learn-more span{
    font-size: 18px;
    color: var(--secend);
}

/* header image css */

.header-image{
    max-width: 50%;
    position: relative;
}
.header-image .mane{
    width: 100%;
}
.header-image .shape {
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 90px;
    right: 33px;
}
.busi-gro{
    position: absolute;
    top: 60px;
    left: -21px;
    z-index: -1;
    width: 257px;
    height: 73px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}
.busi-gro img{
    width: 40px;
    height: 40px;
    margin-right: 18px;
}
.activity h3{
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
}
.reviews{
    margin-top: 10px;
}
.reviews img{
    width: 14px;
    height: 13px;
    margin-right: 5px;
}
.reviews .rating{
    font-size: 12px;
    margin-right: 5px;
    font-weight: bold;
}
.review{
    font-size: 12px;
    font-weight: 500;
    color: var(--drak-light);
}

.happy-clint{
    position: absolute;
    left: -117px;
    bottom: 97px;
    width: 217px;
    height: 73px;
    border-radius: 12px;
    padding: 15px 40px 15px 15px;
    z-index: -1;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}
.happy-clint h3{
    font-size: 14px;
    font-weight: bold;
    color: var(--secend);
}

/* service section css */

.sec-title-small{
    font-size: 14px;
    line-height: 28px;
    font-weight: bold;
    color: var(--drak-light);
    letter-spacing: 0.45em;
    text-align: center;
    font-weight: bold;
}
.section-title{
    font-weight: bold;
    font-size: 52px;
    line-height: 28px;
    color: var(--heading-text);
    text-align: center;
    margin-top: 19px;
}
.service-section{
    margin-top: 82px;
}
.services{
    margin-top: 108px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 57px;
}
.service{
    position: relative;
    width: 352px;
    height: 508px;
    padding: 30px;
    border-radius: 28px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}
.service img{
    width: 76px;
    height: 76px;
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);

}
.service .video-icon{
    height: 57px;
}
.service h2{
    margin-top: 148px;
    font-weight: bold;
    font-size: 36px;
    line-height: 28px;
    color: var(--secend);
}
.service p{
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 40px;
}
.learn-btn{
    display: flex;
    justify-content: center;
}

/* clients section css */

.clients-section{
    margin-top: 146px;
}
.clients{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.client{
    padding: 35px;
    display: flex;
    justify-content: space-between;
}
.client img{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin-right: 30px;
}
.client-say p{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 13px;
}
.client-say span{
    font-size: 14px;
    line-height: 28px;
    font-weight: bold;
    color: var(--drak-light);
    text-transform: uppercase;
    font-weight: bold;
}


/* team member section css */
.team-section{
    margin-top: 142px;
}
.team-members{
    margin-top: 53px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}
.member{
    padding-top: 50px;
    border: 2px solid #EBEAED;
    border-radius: 10px;
}
.member-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.member-info img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 28px;
}
.member-info h3{
    font-size: 22px;
    color: #1E0E62;
    margin-bottom: 16px;
    font-weight: 500;
}
.member-info span{
    font-size: 14px;
    line-height: 28px;
    font-weight: bold;
    color: var(--drak-light);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 35px;
}
.sosial-links{
    display: flex;
    justify-content: space-between;
}
.sosial-links a{
    text-decoration: none;
    padding: 18px 49px;
    border-top: 2px solid #EBEAED;
    border-right: 2px solid #EBEAED;
}
.sosial-links a:last-child{
    border-right: 0px;
}
.sosial-links a img{
    width: 21px;
}

/* subscrive area css */
.subscrive-section{
    margin-top: 110px;
}
.sub-info{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.mail-icon{
    width: 40%;
    display: flex;
    justify-content: center;
}
.mail-icon img{
    width: 65%;
    
}
.input-info{
    width: 60%;
}
.input-info p{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 55px;
}
.input-info input{
    font-size: 24px;
    line-height: 28px;
    padding: 24px 342px 24px 67px;
    border: none;
    border-radius: 49px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}
.sub-btn{
    margin-top: 51px;
    display: block;
    text-align: center;
}

/* responsive css mobile devise */

@media only  screen and (max-width:688px) {
    
}